html
    head
        title Tambah Biodata
    body
        form(action="/biodata" method="post")
            label Nama
                input(type="text" name="nama")
                br
            label Alamat
                input(type="text" name="alamat")
                br
            input(type="submit" value="simpan")